<h1> Login </h1>

<%= form_for :user, url: login_path do |f| %> 
    <%= f.label "Name" %>
    <%= f.text_field :name %>
    <%= f.label "Password" %>
    <%= f.password_field :password %>
    <%= f.submit "Log In" %>

    <% end %>