<h1> Sign up </h1>

<%= form_for @user, url: signup_path do |f| %> 
    <%= f.label "Name" %>
    <%= f.text_field :name %>
    <%= f.label "Password" %>
    <%= f.password_field :password %>
    <%= f.label "Password Confirmation" %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "Sign Up" %>

    <% end %>